.places {
  padding-top: 92px;
  padding-left: 148px;
  padding-right: 148px;
  display: flex;
  flex-direction: column;
  row-gap: 80px;
}

@media  (max-width: 1279px) {
  .places {
    padding-left: 48px;
    padding-right: 48px;
  }
}

@media  (max-width: 920px) {
  .places {
    padding-top: 88px;
    padding-left: 24px;
    padding-right: 24px;
    row-gap: 70px;
  }
}

@media  (max-width: 720px) {
  .places {
    padding-top: 64px;
    padding-left: 0;
    padding-right: 0;
    row-gap: 50px;
  }
}
