.footer {
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 92px;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
}

@media  (max-width: 1024px) {
  .footer {
    padding-left: 24px;
    padding-right: 24px;
  }
}


@media (max-width: 920px) {
  .footer {
    padding-top: 88px;
  }
}

@media  (max-width: 720px) {
  .footer {
    justify-content: center;
    flex-direction: column;
    padding-top: 64px;
  }
}
